body,html{width:100%;height:100vh;overflow:hidden;
;padding:0;margin:0;}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#sidebar1{
    background-color:#E5E5E5;
    width:10%;
    float: left;
    height: 100vh;
}

#sidebar2{
    background-color:#CCCCCC;
    width: 10%;
    float: left;
    height: 100vh;
   
}

#sidebar3{
   background-color:#B2B2B2;
   width:10%;
   float: left;
   height: 100vh;
}


#sidebar4{
   background-color:#999999;
   width: 10%;
   float: left;
   height: 100vh;
}

#sidebar5{
   background-color:#7F7F7F;
   width: 10%;
   float: left;
   height: 100vh;
}

#sidebar6{
   background-color:#666666;
   width: 10%;
   float: left;
   height: 100vh;
}

#sidebar7{
   background-color:#4C4C4C;
   width: 10%;
   float: left;
   height: 100vh;
}

#sidebar8{
   background-color:#333333;
   width: 10%;
   float: left;
   height: 100vh;
}

#sidebar9{
   background-color:#191919;
   width: 10%;
   float: left;
   height: 100vh;
}

#sidebar10{
   background-color:#000;
   width: 10%;
   float: left;
   height: 100vh;
}

#dragbar1{
   background-color:#E5E5E5;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar2{
   background-color:#CCCCCC;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar3{
   background-color:#B2B2B2;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar4{
   background-color:#999999;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar5{
   background-color:#7F7F7F;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar6{
   background-color:#666666;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar7{
   background-color:#4C4C4C;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar8{
   background-color:#333333;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#dragbar9{
   background-color:#191919;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}

#true1,#true2,#true3,#true4,#true5,#true6,#true7,#true8,#true9,
#true10,#true11,#true12,#true13,#true14,#true15,#true16,#true17,
#true18,#true19,#true110,#true21,#true22,#true23,#true24,#true25,
#true26,#true27,#true28,#true29,#true210{
    float: left;
    height: 100vh;
 }
#true1{width:7%;background-color:#E5E5E5;}
#true2{width:13%;background-color:#CCCCCC;}
#true3{width:14%;background-color:#B2B2B2;}
#true4{width:13%;background-color:#999999;}
#true5{width:12%;background-color:#7F7F7F;}
#true6{width:15%;background-color:#666666;}
#true7{width:8%;background-color:#4C4C4C;}
#true8{width:5%;background-color:#333333;}
#true9{width:5%;background-color:#191919;}
#true10{width:8%;background-color:#000;}
/**/
#true11{width:13%;background-color:#E5E5E5;}
#true12{width:15%;background-color:#CCCCCC;}
#true13{width:12%;background-color:#B2B2B2;}
#true14{width:5%;background-color:#999999;}
#true15{width:14%;background-color:#7F7F7F;}
#true16{width:7%;background-color:#666666;}
#true17{width:5%;background-color:#4C4C4C;}
#true18{width:13%;background-color:#333333;}
#true19{width:8%;background-color:#191919;}
#true110{width:11%;background-color:#000;}
/**/
#true21{width:7%;background-color:#E5E5E5;}
#true22{width:3%;background-color:#CCCCCC;}
#true23{width:4%;background-color:#B2B2B2;}
#true24{width:4%;background-color:#999999;}
#true25{width:6%;background-color:#7F7F7F;}
#true26{width:7%;background-color:#666666;}
#true27{width:9%;background-color:#4C4C4C;}
#true28{width:11%;background-color:#333333;}
#true29{width:40%;background-color:#191919;}
#true210{width:9%;background-color:#000;}

.text{
    position: relative;
    color: white;
  font-family: 'Alef', sans-serif;
    top: 50%;
    left: 40%;
}

#text1{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text2{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text3{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text4{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text5{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text6{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text7{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text8{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text9{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}

#text10{
    font-family: 'Alef', sans-serif;
    font-size: 120%;
    position: relative;
    color: white;
    top: 50%;
    left: 40%;
}



#ghostbar{
    width:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999
  }

.mainArticle{
  width:80.2%;
  background-color: white;
  position: absolute;
  top: 20.2%;
  right: 10%;
  font-family: 'Alef', sans-serif;
  text-align: center;
}

#wrapperQuestion2 .mainArticle{
  top: 22.2%;

}

#wrapperQuestion3  .mainArticle{
  top: 32.2%;

}
.howHeader{
  font-size: 36px;
  
}

.Ptext{
 
font-size: 12px;

}

.Ptext2{font-size: 18px;padding-top: 28px;}

#wrapperQuestion2 .Ptext2 {padding-top: 10px;}
#wrapperQuestion2 .Ptext {padding-top: 20px;}
#wrapperQuestion2 .button1 {margin-top: 30px;}
#wrapperQuestion2 .mainArticle {margin-top: 32px;}


#wrapperQuestion3 .Ptext {padding-top: 20px;}
#wrapperQuestion3 .button1 {margin-top: 30px;padding-right: 78px;/* text-align: center; */}
#wrapperQuestion3 .mainArticle {margin-top: 0px;}

.button1{
  height:40px;
  width: 246px;
  background-color: #6b6b6b;
  margin-bottom: 30px;
  border:0;
  padding: 0;
  position: relative;
  text-align: right;
  padding-right: 13px;
}

.button1 img{
  position: absolute;
  left: 16px;
  top: 9.8px;
  height: 20px;
  width:10px;
}

/*---guess1 page---
------------------*/

.guess1h1{
  font-family: 'Alef', sans-serif;
  font-size: 20px;
  position: absolute;
  top:4px;
  left: 40%;
  color: white;

}

.refreshbutton{
  height:40px;
  width: 68px;
  background-color: #a3a3a3;
  border:0;
  padding: 0;
  position: absolute;
  left: 7.6%;
  bottom: 42px;
}

.refreshbutton img{
 height: 20px;
 width: 20px; 
}

.guess1_viconbutton , .guess2_viconbutton{
  height:40px;
  width: 68px;
  background-color: #eeeeee;
  border:0;
  padding: 0;
  position: absolute;
  right: 7.6%;
  bottom: 42px;
}
.viconbutton:hover + .tooltip1{
  display: block;
}

.tooltip1{
    display: none;
    height: 30px;
    width: 100px;
    font-family: 'Alef', sans-serif;
    font-size: 12px;
    padding-top: 4px;
    text-align: center;
    color: white;
    background-image: url('images/Vhover.png');
    position: absolute;
    bottom: 90px;
    right: 86px;
}

}
.viconbutton img{
  height: 16px;
  width: 22px;
}

.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
    position: absolute;
   
    width:20px;
    height:20px;
    font-family: 'Alef', sans-serif;
    font-size: 20px;
}

#top{
    right: 4%;
    top: 28%;
    color: white;
}
#bottom{
    left: 4%;
    top: 28%;
    color: black;
}